body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum","PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  text-transform: none; 
  background-color: #f4f7f9;    
}
.inner-page {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff; 
}
a {
  text-decoration: none;
}

.main-header li,
.header-mid .user-navigation li,
.header-bot li,
.contacts li,
.site-navigation-footer-1 li,
.site-navigation-footer-2 li,
.footer-bot li{
  list-style: none;
}

.breadcrumbs {
  list-style: none;
}

.sorting-page-2 {
  list-style: none;  
}

.breadcrumbs a {
  font-family: "PT Sans", Arial;  
  font-size: 13px;
  line-height: 18px;
  color: #000000; 
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.filter fieldset {
  border: none;
}

.logo { 
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;  
  
}
.header-top .logo a {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;  
}

.header-mid {
  background-color: #f2f6f8;
}
.header-top,
.seach,
.user-blok a { 
  font-size: 17px;
  line-height: 18px;
  color: #ffffff; 
  background-color: #293449;
   
    
}

.header-mid h3 {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643; 
  background-color: #f4f7f9; 
    
}

.header-mid a {
  font-size: 21px;
  line-height: 18px;
  color: #ee3643; 
}

.header-mid .adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c; 
   
}

.header-mid .check a {
  font-size: 17px;
  line-height: 17px;
  color: #000000;
     
}

.header-user-name {
 font-size: 21px;
 line-height: 18px;   
}

.header-mid .user-navigation-page-2 a{
  font-size: 16px;
  line-height: 18px;  
  color:  #32425c
}

.header-bot .site-navigation li, a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
    
}

.header-bot {
  background-color: #32425c; 
}

.container {
  background-color: #ffffff;
}

.block h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
    }

.block a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba( 0, 0, 0, 0.1);
  text-transform: uppercase;  
}
.block.block-orange {    
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;  
}

.block.block-blue {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;  

}

.block.block-purple {
  background-color: #dc91d8; 
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat  
}

.block.block-green {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat  
}

.block.block-orange-2 {
  background-color: #ffc047; 
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat  
}

.block.block-slide-1 h3{
  font-size: 26px;
  line-height: 30px;
  font-style: bold; 
  text-transform: uppercase;
   
}

.block.block-slide-1{
  background-image: url(../img/slider-1.jpg)
  position: absolute;
  background-repeat: no-repeat  
}

.block.block-slide-1 a , 
.block.block-slide-2 a {
  background-color: #ee3643;
    
}

.block.block-slide-2 h3{ 
  font-size: 26px;
  line-height: 30px;
  font-style: bold; 
  text-transform: uppercase;   
}

.block.block-slide-2 {
  background-image: url(../img/slider-2.jpg)
  position: absolute;
}
.block p {
  font-family: "PT Sans"; Arial;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;    
}


.product {
 background-color: #f9f5f0;
}

.product h2 { 
 color: #32425c;
 font-size: 30px;
 line-height: 30px;
 text-transform: uppercase;   
}

.product a { 
  font-size: 14px;
  line-height: 18px;
  color: #ffffff; 
  background-color: #ee3643; 
  text-transform: uppercase;  
}

.catalog-list {
  list-style: none;
}

.catalog-item h3{
  font-family: "PT Sans"; "Arial";
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-style: bold;
}

.catalog-item p {
  font-family: "PT Sans"; "Arial";
  color: #a9a9a9;
  font-size: 17px;
  line-height: 18px;
  font-style: bold;
}

.catalog-item a {
  font-family: "PT Sans"; "Arial";
  color: #ffffff;
  font-size: 17px;
  line-height: 28px;
  font-style: bold;
}

.company {
  background-color: #f9f5f0;  
}

.company h2 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;   
}

.company a {  
  font-size: 14px;
  line-height: 18px;
  color: #ffffff; 
  background-color: #ee3643; 
  text-transform: uppercase; 
}

.service ul {
  list-style: none; 
}

.service {
  background-color: #f4f8f9; 
}

.service h3 { 
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;   
}

.service h2 {  
  font-size: 30px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;  
}

.service p {
  font-family: "PT Sans"; "Arial";
  font-size: 13px;
  line-height: 24px;
  color: #000000; 
}
.service .service-navigator-color {
  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  background-color: #ffffff;   
}

.service-navigator li {  
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;   
}

.contacts h2,
.map h2 {
  font-family: "PT Sans"; "Arial";
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase; 
}

.contacts p,
.map p {
  font-family: "PT Sans"; "Arial";
  font-size: 13px;
  line-height: 24px;   
}
.contacts a,
.map a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
.contacts li {
  font-size: 14px;
  line-height: 18px;
}

.page-title-products {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.sorting-page-2 {
  font-size: 13px;
  line-height: 18px;
  color: color: #000000;
}

.filter legend {
  font-family: "PT Sans"; "Arial"; 
  font-size: 17px;
  line-height: 30px;
  font-style: bold;
    
}

.filter ul {
  list-style: none;
  font-family: "PT Sans"; "Arial"; 
  font-size: 15px;
  line-height: 20px;  
}

.logo-footer {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase; 
}

.footer-top,
.footer-mid{
  background-color: #32425c;
}

.site-navigation-footer-1 a,
.footer-contacts{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  
}

.site-navigation-footer-2 a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180; 
}

.footer-bot p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff; 
}
.footer-bot{
  background-color: #293449;
}

.mail-color-orange a,
.link-color-orange a{
  font-size: 16px;
  line-height: 18px;
  color: #ffd180; 
}

